<nav>
  <ul>
      <li><a routerLink="/users">Lista de Usuarios</a></li>
      <li><a routerLink="/users/create">Criar Usuário</a></li>
    </ul>
  </nav>
  
  <div>
  <router-outlet></router-outlet>
  </div>
 
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="https://user-images.githubusercontent.com/54813775/71489741-d7e0c180-2805-11ea-9e4f-ee982307cdc3.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Teste Front-End</h5>
      <p class="card-text">Estou enviando o teste assim antes de terminar para dar apenas uma posição que não desisti. Estou estudando Angular do zero, conhecia apenas Vue. Estou usando esse modelo apenas como exemplo para depois implementar a Api com node.js. Utilizei esse site de API Fake apenas para realizar testes e moldar o projeto no Angular e depois utilizar a verdadeira que vou criar.
        Espero que entenda a demora, pois estou trabalhando a madrugada toda no Uber e só tenho algumas horas durante a tarde para estudar e tentar realizar o teste. Mas não vou desistir, espero que vocês possam esperar mais alguns dias e irei tentar fazer perfeito como foi solicitado no teste. Obrigado pela atenção.
        </p>
      <a href="https://docs.google.com/document/d/1OmbGc5jCNTi5aDnXbKeWXRhli6pCRMAv" target="_blank" class="btn btn-primary">Currículo Tercio Rodrigues</a>
    </div>
  </div>